<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<ul class="footer__list">
				<li class="footer__item">
					<a href="#">Политика конфиденциальности</a>
				</li>
				<li class="footer__item">
					<a href="#">Пользовательское соглашение</a>
				</li>
				<li class="footer__item">
					<a href="#">правила акции</a>
				</li>
			</ul>
			<div class="footer__date">Срок действия акции с 06.06.2019 до 03.07.2019</div>
		</div>
		<div class="footer__text">АКЦИЯ «Выиграй летние призы от Fuze в Пятерочке!» ПРОВОДИТСЯ С 01 ИЮЛЯ ПО  31 АВГУСТА 2019 ГОДА. Информация об организаторе акции, условиях участия, правилах проведения, призах и их количестве, сроках и порядке их получения можно узнать на сайте promo.fuze-tea.ru или по телефону горячей линии 8-926-653-94-33 ( с 10:00 до 19:00 по московскому времени). Организатор акции – ООО «ЭМГ». Акция действует только при наличии товара в магазине. Количество призов ограничено. Внешний вид призов и упаковок может отличаться от их изображения в рекламных и информационных материалах. FUZE TEA является зарегистрированным товарным знаком DP Beverages. ©2019 DP Beverages.</div>
	</div>
</footer>