<header id="header" class="header">
	<div class="container">
		<div class="header__inner">
			<div class="shop-logo">
				<a href="#" class="shop-logo__inner">
					<img src="../img/logo-5ka.png" alt="">
				</a>
			</div>
			<div class="main-logo">
				<a href="#" class="main-logo__inner">
					<img src="../img/logo-main.png" alt="">
				</a>
			</div>
			<div class="header__menu">
				<div class="header__menu-inner">
					<div class="header__menu-top">
						<nav class="nav">
							<a href="#" class="nav__item">правила</a>
							<a href="./#prize-info" class="nav__item nav__item--scroll">призы</a>
							<a href="./#winners" class="nav__item nav__item--scroll">победители</a>
							<a href="feedback.html" class="nav__item">вопрос-ответ</a>
						</nav>
						<div class="profile">
							<div class="profile__login">
								<a href="#" class="btn btn--profile js-popup-button" data-popupshow="popup--authorization">
									<img src="../img/Enter.png" alt="">
									<span class="profile__text">войти</span>
								</a>
								<a href="#" class="btn btn--profile profile__mobile js-popup-button" data-popupshow="popup--regestration">
									<span class="profile__text">регистрация</span>
								</a>
							</div>
							<div class="profile__logged-in">
								<a href="profile.html" class="btn btn--profile">
									<img src="../img/Profile.png" alt="">
									<span class="profile__text">личный кабинет</span>
								</a>
								<a href="#" class="btn btn--profile">
									<span class="profile__text profile__text--logout">выйти</span>
								</a>
							</div>
						</div>
					</div>
					<ul class="header__info">
						<li class="header__info-item">
							<a href="#">политики конфиденциальности</a>
						</li>
						<li class="header__info-item">
							<a href="#">пользовательское соглашение</a>
						</li>
					</ul>
				</div>
			</div>
			<a href="#" class="burger-menu">
				<span></span>
			</a>
		</div>
	</div>
</header>