<div class="cookies">
    <div class="container">
       <div class="cookies__inner">
			<div class="cookies__text text text--15 text--gray">Наш сайт использует cookie-файлы для того, чтобы вам было удобнее просматривать и пользоваться им, а нам – делать его лучше. Вы можете узнать подробности о технологии cookie по <a href="#" class="text text--decoration">ссылке</a>.</div>
			<div class="btn-wrap">
				<a href="#" class="btn btn--cookies">ок</a>
			</div>
	   </div>
    </div>
</div>

<div class="popup popup--question">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<p class="text text--24 text--green text--center">Я участвовал в акциях <span class="text text--bold">Coke&Meal</span>, у меня есть логин и пароль</p>
		<div class="btn-wrap btn-wrap--mt20 btn-wrap--flex">
			<a href="#" class="btn btn--popup btn--min js-popup-button" data-popupshow="popup--authorization">да</a>
			<a href="#" class="btn btn--popup btn--min js-popup-button" data-popupshow="popup--regestration">нет</a>
		</div>
	</div>
</div>

<div class="popup popup--authorization">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--popup">авторизация</h3>
		<form action="#" class="form popup__form">
			<div class="input-wrap">
				<input type="tel" name="phone" placeholder="Телефон">
			</div>
			<div class="input-wrap">
				<input type="password" name="password" placeholder="Пароль">
			</div>
			<div class="btn-wrap btn-wrap--mt20 btn-wrap--center">
				<button type="submit" class="btn btn--popup">авторизоваться</button>
			</div>
			<div class="popup__text text text--15 text--gray text--center text--mt20">
				<p><a href="#" class="text text--decoration">Забыли пароль?</a></p>
				<p>Впервые на сайте? <a href="#" class="text text--decoration js-popup-button" data-popupshow="popup--regestration">Зарегистрируйтесь</a></p>
			</div>
		</form>
	</div>
</div>

<div class="popup popup--regestration">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--popup">регистрация</h3>
		<form action="#" class="form popup__form">
			<div class="input-wrap">
				<input type="text" name="surname" placeholder="Фамилия">
			</div>
			<div class="input-wrap">
				<input type="text" name="name" placeholder="Имя">
			</div>
			<div class="input-wrap">
				<input type="tel" name="phone" placeholder="Телефон">
			</div>
			<div class="input-wrap">
				<input type="email" name="email" placeholder="E-mail">
			</div>
			<div class="input-wrap">
				<select name="citiy">
					<option></option>
					<option>Дизайнер умничка</option>
					<option>"Макет отличный"</option>
				</select>
			</div>
			<div class="input-wrap">
				<input type="text" placeholder="Номер выручай-карты">
			</div>
			<div class="input-wrap">
				<input id="rules" class="checkbox" type="checkbox" name="rules" required>
				<label for="rules" class="checkbox-text text text--14 text--green">Я согласен с <a href="#" class="text text--decoration text--uppercase">правилами акции</a></label>
			</div>
			<div class="input-wrap">
				<input id="personal" class="checkbox" type="checkbox" name="personalAgreement" required>
				<label for="personal" class="checkbox-text text text--14 text--green">Я согласен на обработку моих персональных данных</label>
			</div>
			<div class="btn-wrap btn-wrap--mt20 btn-wrap--center">
				<button type="submit" class="btn btn--popup">зарегистрироваться</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup--regestration-end">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--popup">завершить регистрацию</h3>
		<p class="text text--mt20 text--15 text--gray text--center">Введите, пожалуйста, пароль, который мы отправили на ваш телефон по смс</p>
		<form action="#" class="form popup__form">
			<div class="input-wrap">
				<input type="text" name="password" placeholder="Пароль из SMS">
			</div>
			<div class="btn-wrap btn-wrap--mt20 btn-wrap--center">
				<button type="submit" class="btn btn--popup">ок</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup--addcard">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--popup">номер карты</h3>
		<form action="#" class="form popup__form">
			<div class="input-wrap">
				<input type="text" name="card" placeholder="ХХХХ-ХХХХ-ХХХХ-ХХХХ">
			</div>
			<div class="btn-wrap btn-wrap--mt20 btn-wrap--center">
				<button type="submit" class="btn btn--popup">Добавить</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup--getprize">
	<div class="popup__wrap popup__wrap--big">
		<a href="#" class="popup__close js-close-popup"></a>
		<h3 class="title title--page">Получение приза</h3>
		<div class="text text--center text--mt20 text--20 text--gray">* Все поля обязательны для заполнения</div>
		<div class="popup__personal-info">
			<div class="popup__nikname">
				<span>Макет</span>
				<span>Макетович</span>
			</div>
			<ul class="popup__contacts">
				<li>+7 (922) 667-89-09</li>
				<li>volkonskih@mail.ru</li>
			</ul>
		</div>
		<form action="#" class="form popup__form-get">
			<div class="inputs-wrap">
				<div class="inputs-wrap__row inputs-wrap__row--small">
					<span class="inputs-wrap__tooltip">Дата рождения</span>
					<div class="input-wrap">
						<input type="text" name="birthday" placeholder="ДД/ММ/ГГ">
					</div>
				</div>
				<div class="inputs-wrap__row inputs-wrap__row--big">
					<span class="inputs-wrap__tooltip">Адрес по прописке</span>
					<div class="input-wrap">
						<input type="text" name="registration" placeholder="г. Москва, ул. Большевиков, д. 1 с. 2, кв.186">
					</div>
				</div>
				<div class="inputs-wrap__row inputs-wrap__row--middle">
					<span class="inputs-wrap__tooltip">ИНН</span>
					<div class="input-wrap">
						<input type="text" name="inn">
					</div>
				</div>
			</div>
			<div class="inputs-wrap">
				<div class="inputs-wrap__inner inputs-wrap__inner--w50">
					<div class="inputs-wrap__row inputs-wrap__row--middle">
						<span class="inputs-wrap__tooltip">Паспортные данные</span>
						<div class="input-wrap input-wrap--flex input-wrap--inputs">
							<input type="text" name="series" placeholder="Серия">
							<input type="text" name="number" placeholder="Номер">
						</div>
					</div>
					<div class="inputs-wrap__row inputs-wrap__row--small">
						<span class="inputs-wrap__tooltip">Дата выдачи</span>
						<div class="input-wrap">
							<input type="text" name="issuing_date_document" placeholder="ДД/ММ/ГГ">
						</div>
					</div>
				</div>
				<div class="inputs-wrap__row inputs-wrap__row--big">
					<span class="inputs-wrap__tooltip">Кем выдан</span>
					<div class="input-wrap">
						<input type="text" name="name_of_issuing_authority">
					</div>
				</div>
			</div>
			<div class="inputs-wrap inputs-wrap--noflex">
				<span class="inputs-wrap__tooltip">Адрес доставки</span>
				<div class="inputs-wrap__inner inputs-wrap__inner--sm">
					<div class="inputs-wrap__row inputs-wrap__row--big">
						<div class="input-wrap">
							<select name="region">
								<option></option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
							</select>
						</div>
					</div>
					<div class="inputs-wrap__row inputs-wrap__row--big">
						<div class="input-wrap">
							<select name="citiy">
								<option></option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
							</select>
						</div>
					</div>
					<div class="inputs-wrap__row inputs-wrap__row--big">
						<div class="input-wrap">
							<select name="street">
								<option></option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
								<option>Дизайнер умничка</option>
								<option>"Макет отличный"</option>
							</select>
						</div>
					</div>
					<div class="inputs-wrap__row inputs-wrap__row--big">
						<div class="input-wrap input-wrap--flex">
							<div class="input-wrap input-wrap--select">
								<select name="house">
									<option></option>
									<option>Дизайнер умничка Дизайнер умничка</option>
									<option>"Макет отличный"</option>
									<option>Дизайнер умничка</option>
									<option>"Макет отличный"</option>
									<option>Дизайнер умничка</option>
									<option>"Макет отличный"</option>
								</select>
							</div>
							<input type="text" name="flat" placeholder="№ квартиры" class="input-flat">
						</div>
					</div>
				</div>
			</div>
			<div class="inputs-wrap inputs-wrap--mt-big">
				<div id="upload-photo" class="inputs-wrap__row inputs-wrap__row--flex inputs-wrap__row--big">
					<div class="input-wrap input-wrap__file">
						<label class="input-wrap__file-inner">
							<input type="file" name="photo_passport">
							<div class="input-wrap__file-row">
								<span class="input-wrap__file-error"></span>
								<span class="input-wrap__file-photo"></span>
								<span class="input-wrap__file-text">Паспорт страница с фото</span>
							</div>
						</label>
					</div>
					<div class="input-wrap input-wrap__file">
						<label class="input-wrap__file-inner">
							<input type="file" name="photo_registration">
							<div class="input-wrap__file-row">
								<span class="input-wrap__file-error"></span>
								<span class="input-wrap__file-photo"></span>
								<span class="input-wrap__file-text">Паспорт прописка</span>
							</div>
						</label>
					</div>
					<div class="input-wrap input-wrap__file">
						<label class="input-wrap__file-inner">
							<input type="file" name="photo_inn">
							<div class="input-wrap__file-row">
								<span class="input-wrap__file-error"></span>
								<span class="input-wrap__file-photo"></span>
								<span class="input-wrap__file-text">ИНН</span>
							</div>
						</label>
					</div>
				</div>
				<div class="inputs-wrap__row">
					<div class="btn-wrap">
						<button type="submit" class="btn btn--popup">получить приз</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>