// Breeding---------------------
%img {
	position: absolute;
	top: 0;
	z-index: -1;
	max-height: 1070px;
}

.main-breeding {
	background: url("../img/background-for-breed.png") no-repeat center center;
	background-size: cover;
	position: relative;
	padding: 40px 0;
	z-index: 2;
	min-height: 100%;
	overflow: hidden;

	&__logo-wrap {
		position: relative;
		text-align: center;
		z-index: 1;
	}

	&__logo {
		max-height: 515px;
	}

	&__inner {
		margin-top: 40px;
	}

	&__list {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 325px;
		width: 100%;
		text-align: center;

		&:nth-child(n+4) {
			margin-top: 15px;
		}
	}

	&__text {
		margin-top: 5px;
	}

	&__img {
		@extend %img;

		&--first {
			max-height: 465px;
			left: 0;
		}

		&--second {
			max-height: 475px;
			right: 0;
		}

		&--third {
			left: -65px;
    		top: -50px;
		}

		&--fourth {
			right: -75px;
			top: -150px;
		}
	}
}

// Main--------------------
.main {
	flex: 1 0 auto;

	&__top {
		margin-top: -135px;
	}

	&__inner-top-bg {
		background: url("../img/bg_bicycle.png") no-repeat center center;
		background-size: cover;
		height: 90vh;
		min-height: 750px;
	}

	&__inner-top {
		text-transform: uppercase;
		margin-top: -1.8em;
		font-size: 35px;
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__subtitle {
		margin-left: .25em;
		color: $textColor03;
		font-size: 1em;
		line-height: 1em;
		font-weight: 400;
	}

	&__date {
		text-align: center;
		margin-top: .5em;
		font-size: .5em;
		color: #46c13d;
	}

	&__arrow {
		text-align: center;
	}

	&__arrow-inner {
		margin-top: .42em;
		display: inline-block;
		position: relative;
		width: 2.6em;
		height: 1.4em;

		&:before {
			content: "";
			position: absolute;
			top: -.4em;
			left: 50%;
			transform: translateX(-50%) rotate(-135deg);
			border: {
				top: .2em solid #fff;
				left: .2em solid #fff;
			}
			width: 1.4em;
			height: 1.4em;
		}
	}

	&__prize-info {
		padding: 50px 0 65px;
		overflow: hidden;
	}

	&__inner-prize-info {
		display: flex;
		justify-content: center;
		align-items: center;
		counter-reset: num;
		font-size: 25px;
	}

	&__col-prize-info {
		max-width: 12em;
		width: 100%;
		position: relative;
		z-index: 2;

		&--img {
			max-width: 10em;
			margin: 0 .5em;
			z-index: 1;

			&:before {
				content: "";
				position: absolute;
				bottom: -3em;
				left: -10em;
				z-index: -1;
				width: 34em;
				height: 34em;
				background: url("../img/shadow_bottle.png") no-repeat center center;
				background-size: contain;
			}
			
			img {
				max-height: 32em;
			}
		}
	}

	&__item-prize-info {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		padding-top: 8em;
		position: relative;

		&:before {
			counter-increment: num;
			content: counter(num);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			color: $textColor03;
			font-size: 7.5em;
			line-height: 1em;
		}

		&:nth-child(even) {
			margin-top: 1.2em;
		}

		.btn-wrap {
			margin-top: .6em;
		}
	}

	&__text-prize-info {

		&--reg {
			position: relative;
			
			&:after {
				content: "";
				position: absolute;
				top: -4em;
				right: .72em;
				width: 6em;
    			height: 4.5em;
				background: url("../img/card.png") no-repeat center center;
				background-size: contain;
			}
		}

		p {
			font-size: 1em;
			
			a {
				color: $textColor03;
			}
		}
	}

	&__prizes-item {
		margin: .8em auto 0;
		border-radius: 50%;
		position: relative;
		border: .16em solid #fed700;
		height: 8em;
		width: 8em;

		&:nth-child(n+2) {

			.main__inner-prizes-item {

				&:before {
					background: url("../img/svg/bivan.svg") no-repeat center center;
					background-size: contain;
				}
			}
		}
	}

	&__inner-prizes-item {
		padding-top: 3.5em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:before {
			content: "";
			position: absolute;
			top: -.4em;
			left: 50%;
			transform: translateX(-50%);
			background: url("../img/svg/bicycle.svg") no-repeat center center;
			background-size: contain;
			width: 4.8em;
			height: 4em;
		}
	}

	&__name-prizes-item {
		font-size: .8em;
		color: $textColor03;
	}

	&__winners {
		margin-top: 30px;
	}

	&__inner-winners {
		margin-top: 20px;
	}

	&__search {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__table-winners {
		margin: 2.2em auto 0;
		font-size: 18px;
		height: 14em;
		max-width: 550px;
		width: 100%;
	}

	&__inner-table-winners {
		width: 100%;
		border-collapse: collapse;

		th {
			text-align: left;
			font-size: 1.3em;
			color: $textColor03;
		}

		td {
			font-size: 1em;
			padding-top: 1.2em;
		}
	}
}

// Feedback--------------
.feedback {
	padding-top: 50px;

	&__form {
		max-width: 500px;
		width: 100%;
		margin: 50px auto 0;

		.input-wrap {
			margin-bottom: 20px;
		}

		input,
		textarea {
			max-width: none;
			width: 100%;
		}

		textarea {
			min-height: 215px;
		}
	}
}

// Profile-----------------
.profile-page {
	padding-top: 30px;
	color: $textColor02;

	&__personal-info {
		position: relative;
		padding-left: 45px;
		font-size: 13px;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: url("../img/Profile.png") no-repeat center center;
			background-size: contain;
			width: 30px;
			height: 30px;
		}
	}

	&__personal-info-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__inner {
		display: none;

		&.active.profile-page__inner--nocard {
			display: flex;
		}

		&.active.profile-page__inner--checks {
			display: block;
		}

		&--nocard {
			min-height: 300px;
			height: 55vh;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		&--checks {
			margin-top: 40px;
		}
	}

	&__row-nocard {
		text-align: center;
		max-width: 300px;
		width: 100%;
	}

	&__text {
		color: #ababab;
		margin-bottom: 20px;
	}

	&__table-checks {
		height: 300px;
		margin-top: 2.5em;
		font-size: 20px;
		margin-left: 2.5em;
	}

	&__table {
		width: 100%;
		border-collapse: collapse;
		color: #ababab;

		td {
			padding-top: 1.1em;

			&:nth-child(n+2) {
				padding-left: .5em;
			}
		}
	}

	&__th {
		text-align: left;
		color: $textColor02;

		&--mobile {
			display: none;
		}
	}

	&__buy-inner {

		&--desktop,
		&--mobile {
			
			&:before {
				font-size: .65em;
				color: $textColor02;
				margin-bottom: .1em;
			}
		}

		&--mobile {
			display: none;
			margin-top: .5em;
		}
	}

	&__status-wait,
	&__status-ok {
		word-break: break-all;
	}

	&__status-ok {
		color: $textColor04;
	}
}

.add-card {
	text-decoration: underline;
	color: #ababab;
	font-size: 13px;

	&.hidden {
		display: none;
	}
}

.added-card {

	&.hidden {
		display: none;
	}
}