// Title--------------------
.title {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;

	&--center {
		text-align: center;
	}

	&--big-breeding {
		font-family: $futurafuturisB;
		font-size: 120px;
		line-height: 1em;
		font-weight: 400;

		@include sm {
			font-size: 80px;
		}

		@include xs {
			font-size: 55px;
		}
	}

	&--big {
		font-family: $futurafuturisB;
		font-size: 2.4em;
		line-height: 1em;
		font-weight: 400;
	}

	&--page {
		text-transform: none;
		font-size: 34px;
		line-height: 1em;
		color: $textColor02;

		@include xs {
			font-size: 30px;
		}
	}

	&--popup {
		font-size: 18px;
		line-height: 1em;
		color: $textColor02;
		font-weight: 400;
	}

	&--info {
		font-size: 1.2em;
		color: $textColor03;
		font-weight: 700;

		span {
			display: block;
		}
	}

	&--winners {
		font-size: 35px;
		line-height: 1em;
		color: $textColor03;
	}
}

// Subtitle------------------
.subtitle {

	&--center {
		text-align: center;
	}

	&--breeding {
		text-transform: uppercase;
		font-family: $MyriadProSemibold;
		color: $textColor03;
		font-size: 40px;
		line-height: 1em;

		@include sm {
			font-size: 30px;
		}

		@include xs {
			font-size: 25px;
		}
	}
}

// Text----------------------
.text {

	&--decoration {
		text-decoration: underline;
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--center {
		text-align: center;
	}

	&--gray {
		color: $textColor01;
	}

	&--green {
		color: $textColor02;
	}

	&--15 {
		font-size: 15px;
	}

	&--14 {
		font-size: 14px;
	}

	&--24 {
		font-size: 24px;
	}

	&--mt20 {
		margin-top: 20px;
	}

	&--bold {
		font-weight: 700;
	}
}

// Btn----------------------
.btn-wrap {

	&--center {
		text-align: center;
	}

	&--mt20 {
		margin-top: 20px;
	}

	&--flex {
		display: flex;
		justify-content: space-around;
	}

	&--ml15 {
		margin-left: 15px;
	}
}

.btn {
	font-size: 16px;
	border-radius: 1.75em;
	display: inline-block;
	text-align: center;

	&--img {
		width: 100%;
		padding: .3em 1.25em;
		background-color: $btnBgBreeding;
		max-width: 12.1em;

		img {
			max-height: 2.1em;
			vertical-align: middle;
		}
	}

	&--profile {
		font-size: 10px;

		&:nth-child(n+2) {
			margin-top: 1em;
		}

		@include md {
			font-size: 16px;
			border-radius: .6em;
			min-width: 13em;
			width: 100%;
			padding: .6em 1.25em;
			color: $mainColor;
			background-color: $btnBgPopup;
		}
	}

	&--popup {
		color: $mainColor;
		text-transform: uppercase;
		background-color: $btnBgPopup;
		border-radius: .5em;
		padding: .3em .6em;
		min-width: 150px;
	}

	&--min {
		min-width: 95px;
	}

	&--cookies {
		min-width: 90px;
		border-radius: 20px;
		background-color: #1ba548;
		padding: 10px;
	}

	&--get {
		font-size: 20px;
		color: $mainColor;
		background-color: #8dc63f;
		padding: .2em .4em;
		border-radius: .4em;

		@include sm {
			font-size: 18px;
		}
		
		@include xs {
			font-size: 16px;
		}
	}

	&--prize {
		font-size: .9em;
		color: #007b3e;
		padding: .8em 1em;
		border-radius: 1.4em;
		background-color: $btnBgMain;
	}

	&--search {
		color: #007b3e;
		background-color: $btnBgMain;
		font-size: 15px;
		border-radius: 10px;
		padding: 15px 25px;
	}
}

input,
textarea {
	font-size: 15px;
	border-radius: 10px;
	border: 1px solid #0e5e00;
	padding: 15px 10px;
	color: #000;
	width: 100%;
}

.search {
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #fed700;
	width: 270px;
	color: $mainColor;

	@include input-placeholder {
		color: #fdd700;
	}

	@include xs {
		width: 180px;
	}
}

%file {
	position: absolute;
	top: -5px;
	left: 0;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.input-wrap {
	position: relative;

	&--email {
		max-width: 300px;
	}

	&--flex {
		display: flex;

		input {
			width: 40%;
		}
	}

	&--inputs {

		input {
			width: 47%;

			&:nth-child(n+2) {
				margin-left: 15px;
			}
		}
	}

	&--select {
		margin-right: 15px;
		width: 40%;
	}

	&__file {

		&:nth-child(n+2) {
			margin-left: 15px;
		}
	}

	&__file-inner {
		display: block;
		cursor: pointer;
	}

	&__file-row {
		position: relative;
		padding-left: 40px;
	}

	&__file-error {
		@extend %file;
		background-image: url("../img/photo_error.png");
		display: none;
	}

	&__file-photo {
		@extend %file;
		background-image: url("../img/photo.png");
	}

	&__file-text {
		display: inline-block;
		color: $textColor02;
		font-size: 11px;
	}
}

.inputs-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:nth-child(n+2) {
		margin-top: 25px;
	}

	&.inputs-wrap--mt-big {
		margin-top: 50px;
	}

	&--noflex {
		display: block;
	}

	&__inner {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&--sm {

			.inputs-wrap__row {

				&--big {
					width: 48%;
				}
	
				&--middle {
					width: 35%;
				}
	
				&:nth-child(n+3) {
					margin-top: 20px;
				}
	
				&:nth-child(even) {
					margin-left: 25px;
				}
			}
		}

		&--w50 {
			width: 50%;

			.inputs-wrap__row--middle {
				width: 60%;
			}

			.inputs-wrap__row--small {
				width: 32%;
				margin-left: 25px;
			}
		}
	}

	&__row {
		position: relative;

		&--small {
			width: 16%;
		}
	
		&--middle {
			width: 30%;
		}
	
		&--big {
			width: 45%;
		}

		&--flex {
			display: flex;
			width: 50%;
		}
	}

	&__tooltip {
		display: block;
		font-size: 15px;
		color: #959595;
		padding: 0 0 5px 10px;
		white-space: nowrap;
	}
}

input[type="file"] {
	display: none;
}

.checkbox {
	display: none;

	&:checked {

		& ~ .checkbox-text:after {
			opacity: 1;
		}
	}
}

.checkbox-text {
	display: block;
	padding-left: 35px;
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 25px;
		height: 25px;
		border-radius: 5px;
		border: 1px solid #0e5e00;
		@include transitionEase(.2s);
	}

	&:after {
		content: "";
		width: 9px;
		height: 15px;
		border: {
			bottom: 2px solid #0e5e00;
			right: 2px solid #0e5e00;
		}
		transform: rotate(40deg) translateY(-80%);;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 1px;
		opacity: 0;
		transition: opacity .2s ease;
	}
}

// Select2------------------------
.select2 {
	display: block;
}

.select2-container {
	width: 100% !important;

	&.select2-container--open {

		.select2-dropdown--below {
			box-shadow: 0px 15px 15px -5px rgba(50, 50, 50, .5);
		}

		.select2-dropdown--above {
			box-shadow: 0px -15px 15px -5px rgba(50, 50, 50, .5);
		}

		.select2-selection--single {

			.select2-selection__arrow {

				b {
					border-color: transparent transparent #0e5e00;
					border-width: 0 6px 8px;
				}
			}
		}
	}

	.select2-selection--single {
		height: 100%;
		text-align: left;
		border-radius: 10px;
		padding: 16px 10px;
		border: none;
		border: 1px solid #0e5e00;
		outline: none;

		.select2-selection__rendered {
			line-height: 100%;
			padding-left: 0;
			color: #000;
			font-size: 15px;

			.select2-selection__placeholder {
				color: $colorPlaceholder;
			}

		}

		.select2-selection__arrow {
			top: 50%;
			right: 10px;
			transform: translateY(-50%);

			b {
				border-color: #0e5e00 transparent transparent;
				border-width: 8px 6px 0;
				margin-left: 0;
				margin-top: 0;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.select2-dropdown {
	border-radius: 0;
	border: 1px solid #0e5e00;

	.select2-results__option[aria-selected=true] {
		background-color: #fff;
	}

	.select2-results__option--highlighted[aria-selected] {
		color: #0e5e00;
		background-color: #e7e7e7;
	}
}

.select2-container--default {

	.select2-dropdown {
		
		.select2-search__field {
			border: 1px solid #0e5e00;
			padding: 5px;
		}

		.select2-results__options {
			-webkit-overflow-scrolling: touch;
			color: #000;
			font-size: 15px;
			max-height: 110px;
		}
	}
}

.select2-results__option {
	padding: 10px;
}

// Scroll----------------------
.profile-page__table-checks {

	.simplebar-track.simplebar-vertical {
		background-color: #fff;
		border-left: 1px dashed #8dc63f;
	}

	.simplebar-track.simplebar-horizontal {
		background-color: #8dc63f;
	}

	.simplebar-vertical .simplebar-scrollbar {
		right: -7px;
		width: 14px;
	}

	.simplebar-scrollbar {

		&:before {
			background: #8dc63f;
		}
	}
}

.simplebar-track.simplebar-vertical {
	background-color: #fed700;
    width: 1px;
    overflow: visible;
}

.simplebar-track.simplebar-horizontal {
	background-color: #fed700;
	height: 1px;
	overflow: visible;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
	top: -3px;
}

.simplebar-vertical .simplebar-scrollbar {
	right: -3px;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
	opacity: 1;
}

.simplebar-scrollbar {

	&:before {
		background: #fed700;
		border-radius: 50px;
		border: none;
	}
}

// Validate---------------------
label.error {
	color: $errorColor;
	font-size: 12px;
	position: absolute;
	z-index: 1;
	top: 20px;
	right: 10px;
	opacity: 0;
	pointer-events: none;
	@include transitionEase(.3s);
}

.input-wrap {

	&.error {

		label.error {
			opacity: 1;
		}

		.checkbox-text {
			color: $errorColor;

			&:before {
				border: 1px solid $errorColor;
			}
		}

		.input-wrap__file-error {
			display: block;
		}

		.input-wrap__file-photo {
			display: none;
		}

		.input-wrap__file-text {
			color: $errorColor;
		}

		select {

			& + label.error {
				opacity: 0;
			}
		}
	
		input:not(.input-flat),
		textarea {
			border: 1px solid $errorColor;
			
			@include input-placeholder {
				color: $errorColor;
			}

			&:focus {

				& ~ label.error {
					opacity: 0;
				}
			}
		}
		
		.select2-container.select2-container--open {

			.select2-selection--single {

				.select2-selection__arrow {
	
					b {
						border-color: transparent transparent $errorColor;
					}
				}
			}
		}

		.select2-selection--single {
			border: 1px solid $errorColor;

			.select2-selection__arrow {

				b {
					border-color: $errorColor transparent transparent;
				}
			}
		
			.select2-selection__placeholder {
				color: $errorColor;
			}
		}
	}
}

.inputs-wrap__row {

	.input-wrap.error {

		label.error {
			opacity: 0;
			display: none !important;
		}
	}
}