@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic");

@font-face {
    font-family: 'futurafuturiscregular';
    src: url('../fonts/futurafuturis/futurafuturis.eot');
    src: url('../fonts/futurafuturis/futurafuturis.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurafuturis/futurafuturis.woff2') format('woff2'),
         url('../fonts/futurafuturis/futurafuturis.woff') format('woff'),
         url('../fonts/futurafuturis/futurafuturis.ttf') format('truetype'),
         url('../fonts/futurafuturis/futurafuturis.svg#futurafuturiscregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurafuturiscbold';
    src: url('../fonts/futurafuturis/futurafuturisbold.eot');
    src: url('../fonts/futurafuturis/futurafuturisbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurafuturis/futurafuturisbold.woff2') format('woff2'),
         url('../fonts/futurafuturis/futurafuturisbold.woff') format('woff'),
         url('../fonts/futurafuturis/futurafuturisbold.ttf') format('truetype'),
         url('../fonts/futurafuturis/futurafuturisbold.svg#futurafuturiscbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'MyriadProSemibold';
	src: url('../fonts/MyriadPro/MyriadProSemibold.eot');
	src: local('☺'), url('../fonts/MyriadPro/MyriadProSemibold.woff') format('woff'), url('../fonts/MyriadPro/MyriadProSemibold.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadProSemibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}