.footer {
	font-size: 12px;
	padding: 50px 0;

	@include sm {
		padding: 50px 0 30px;
	}

	&--flex {
		flex-shrink: 0;
		color: $footerColor;
		padding: 30px 0;
	}

	&__text {
		font-size: 14px;
		margin-top: 20px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include md {
			flex-direction: column;
		}
	}

	&__list {
		display: flex;

		@include md {
			flex-direction: column;
		}
	}

	&__item {

		&:nth-child(n+2) {
			margin-left: 40px;
		}

		a {
			text-transform: uppercase;
			text-decoration: underline;
		}

		@include md {
			text-align: center;

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 15px;
			}
		}
	}

	&__date {

		@include md {
			margin-top: 15px;
		}
	}
}