// MAX-WIDTH --------------------
@media (max-width: 1199px) {
	// Breeding---------------------
	.main-breeding {

		&__logo {
			max-height: 330px;
		}

		&__item {
			max-width: 390px;

			&:nth-child(n+4) {
				margin-top: 0;
			}

			&:nth-child(n+3) {
				margin-top: 15px;
			}
		}

		&__img {
			max-height: 900px;

			&--first {
				max-height: 340px;
				left: 10%;
			}

			&--second {
				max-height: 340px;
				right: 8%;
			}
		}
	}

	// Header-----------------------
	.main-logo {
		margin: 0 15px;		
	}

	.nav {

		&__item {

			&:nth-child(n+2) {
				margin-left: 15px;
			}
		}
	}

	.profile {
		margin-left: 10px;
	}
}

@media (max-width: 991px) {
   // Breeding---------------------
	.main-breeding {

		&__item {
			max-width: 330px;
		}

		&__img {
			max-height: 800px;

			&--first {
				max-height: 300px;
				left: 0;
			}

			&--second {
				max-height: 300px;
				right: 0;
			}
		}
	}

	// Header-----------------------
	@keyframes opacity {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.header {
		padding: 15px 0;

		&__menu {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 5;
			height: 100%;
			background-color: #fff;
			padding: 80px 0 20px;
			transform: translateY(-110%);
			opacity: 0;
			animation: opacity .5s;
			transition: transform .4s ease, opacity .3s ease;

			&.active {
				opacity: 1;
				transform: translateY(0);
			}
		}

		&__menu-inner {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 0;
			min-height: 100%;
			padding: 0 30px 0;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}

		&__menu-top {
			display: block;
		}
		
		&__info {
			margin-top: 20px;
			display: block;
			text-align: center;
		}

		&__info-item {
			margin-top: 5px;
		}
	}

	.main-logo {
		margin: 0 20px;
	}

	.nav {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__item {

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}

	.profile {
		margin-left: 0;
		margin-top: 20px;

		&__text:not(.profile__text--logout) {
			display: block;
		}

		&__text--logout {
			text-decoration: none;
		}

		img {
			display: none;
		}

		.btn--profile {
			display: block;
		}
	}

	.burger-menu {
		display: block;
	}

	// Main--------------------
	.main {

		&__top {
			margin-top: -80px;
		}

		&__inner-top-bg {
			height: 70vh;
			min-height: 600px;
		}

		&__inner-top {
			font-size: 32px;
		}

		&__prize-info {
			padding: 40px 0;
		}
	
		&__inner-prize-info {
			font-size: 20px;
		}
	}
}

@media (max-width: 767px) {
	// Breeding---------------------
	.main-breeding {

		&__logo {
			max-height: 220px;
		}

		&__list,
		&__inner {
			margin-top: 30px;
		}

		&__item {
			max-width: none;
			width: 100%;

			&:nth-child(n+3) {
				margin-top: 0;
			}

			&:nth-child(n+2) {
				margin-top: 20px;
			}
		}

		&__img {

			&--first {
				max-height: 200px;
			}

			&--second {
				max-height: 200px;
			}
		}
	}

	// Main--------------------
	.main {

		&__top {
			margin-top: -80px;
		}

		&__inner-top-bg {
			height: 50vh;
    		min-height: 400px;
		}

		&__inner-top {
			margin-top: -1.2em;
			font-size: 28px;
		}

		&__title {
			flex-direction: column;
		}

		&__subtitle {
			margin-left: 0;
			display: flex;
		}

		&__date {
			margin-top: 1em;
		}

		&__prize-info {
			padding: 30px 0;
		}

		&__inner-prize-info {
			font-size: 18px;
		}

		&__inner-prize-info {
			flex-wrap: wrap;
		}

		&__col-prize-info {

			&:last-child {
				max-width: none;
				margin-top: 1.2em;
			}
		}

		.title--info {

			span {
				display: inline;
			}
		}

		&__prizes-list {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 1em;
		}

		&__prizes-item {
			margin: 0;

			&:nth-child(n+2) {
				margin-left: 1em;
			}
		}
	}

	// Profile-----------------
	.profile-page {

		&__table-checks {
			margin-left: 1.5em;
			font-size: 18px;
			height: 500px;
		}

		&__table {

			td {
				padding-top: 1.5em;
				vertical-align: top;

				&:nth-child(n+2) {
					padding-top: 2.2em;
				}
			}
		}

		&__th {

			&--mobile {
				display: block;
			}

			&--desktop {
				display: none;
			}
		}

		&__buy-inner {

			&--desktop,
			&--mobile {
				
				&:before {
					content: attr(data-title);
					display: block;
				}
			}

			&--mobile {
				display: block;
			}
		}

		&__confirm {
			display: none;
		}
	}

	// Forms--------------------
	.inputs-wrap {
		display: block;

		&:nth-child(n+2) {
			margin-top: 20px;
		}

		&__row {

			&:nth-child(n+2) {
				margin-top: 20px;
			}

			&--big {
				width: 100%;
				max-width: 560px;
			}

			&--middle {
				width: 100%;
				max-width: 360px;
			}

			&--small {
				width: 100%;
				max-width: 160px;
			}

			&--flex {
				justify-content: center;
				margin: 30px auto 0;
			}
		}
		
		&__inner {

			&--sm {
				display: block;

				.inputs-wrap__row {

					&:nth-child(n+2) {
						margin-left: 0;
					}

					&--big {
						width: 100%;
						max-width: 560px;
					}

					&--middle {
						width: 100%;
					}
				}
			}

			&--w50 {
				max-width: 560px;
				width: 100%;
				flex-wrap: nowrap;

				.inputs-wrap__row--small {
					max-width: none;
					width: 37%;
					margin-left: 15px;
					margin-top: 0;
				}
			}
		}

		.btn-wrap {
			margin-top: 40px;
			text-align: center;
		}
	}

	.input-wrap {

		&__file {
			max-width: 130px;
		}
	}

}

@media (max-width: 479px) {
    // Breeding---------------------
	.main-breeding {

		&__list,
		&__inner {
			margin-top: 20px;
		}

		&__item {

			&:nth-child(n+2) {
				margin-top: 15px;
			}
		}

		&__img {

			&--first,
			&--second {
				display: none;
			}
		}
	}

	// Header-----------------------
	.header {
		padding: 10px 0;

		&__menu {
			padding: 60px 0 20px;
		}
	}

	.shop-logo {

		img {
			max-height: 30px;
		}
	}

	.main-logo {
		margin: 0 20px;
		
		img {
			max-height: 20px;
		}
	}

	// Main--------------------
	.main {

		&__top {
			margin-top: -60px;
		}

		&__inner-top-bg {
			height: 35vh;
			min-height: 300px;
		}

		&__inner-top {
			font-size: 23px;
		}

		&__subtitle {
			font-size: .8em;
		}

		&__inner-prize-info {
			font-size: 20px;
		}

		&__col-prize-info {

			&--img {
				display: none;
			}
		}

		&__prizes-list {
			flex-direction: column;
		}

		&__prizes-item {

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 1em;
			}
		}

		&__table-winners {
			font-size: 13px;
		}
	}

	// Profile-----------------
	.profile-page {

		&__personal-info-inner {
			display: block;
		}

		&__card {
			margin-top: 5px;
		}

		&__table-checks {
			margin-left: 0;
			font-size: 14px;
			height: 400px;
			padding-right: .8em;
		}
	}

	// Forms--------------------
	.inputs-wrap {

		&__row {

			&--flex {
				display: block;
			}
		}

		&__inner {

			&--w50 {
				flex-wrap: wrap;

				.inputs-wrap__row--small {
					max-width: 160px;
					width: 100%;
					margin-left: 0;
					margin-top: 20px;
				}

				.inputs-wrap__row--middle {
					width: 100%;
				}
			}
		}
	}

	.input-wrap {

		&__file {
			margin: 0 auto;

			&:nth-child(n+2) {
				margin-left: 0;
				margin: 15px auto 0;
			}
		}
	}
}

// MIN-WIDTH --------------------
@media (min-width: 480px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 2000px) {
    
}