.no-scroll {
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.popup {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#272424, .8);
	opacity: 0;
	z-index: 10;
	visibility: hidden;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	display: flex;
	align-items: flex-start;

	&.js-popup-show {
        opacity: 1;
		visibility: visible;
		transition: opacity 0.3s 0s, visibility 0s 0s;

		.popup__wrap {
			transform: translateY(0);
		}
	}

	&__wrap {
		position: relative;
        max-width: 400px;
        width: 100%;
		transform: translateY(-40px);
		transition-duration: .3s;
		background-color: #fff;
		box-shadow: 0 0 81px 9px #000000;
		padding: 50px;
		margin: auto;

		@include xs {
			padding: 50px 25px;
		}

		&--big {
			max-width: 760px;
		}
	}

	&__close {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 10px;
		right: 10px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 15px;
			height: 2px;
			background-color: #0e5e00;
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&__form {
		margin-top: 20px;

		.input-wrap {

			&:nth-child(n+2) {
				margin-top: 15px;
			}
		}
	}

	&__text {

		p {

			&:nth-child(n+2) {
				margin-top: 5px;
			}
		}
	}

	&__personal-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $textColor02;
		margin-top: 40px;

		@include xs {
			flex-direction: column;
		}
	}

	&__nikname {
		font-size: 24px;
		font-weight: 700;
		margin-right: 15px;

		@include xs {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}

	&__contacts {
		font-size: 18px;
		
		li {

			&:nth-child(n+2) {
				margin-top: 5px;
			}
		}
	}

	&__form-get {
		margin-top: 25px;
	}
}

// Cookies -----------------
.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
	padding: 20px 0;
	@include transitionEase(.2s);
	opacity: 0;
	z-index: -1;
	box-shadow: 0px -3px 17px 0px rgb(50, 50, 50);

    &__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include sm {
			flex-direction: column;
		}
	}
	
	&__text {
		max-width: 750px;
		width: 100%;
		margin-right: 20px;

		@include sm {
			margin-right: 0;
			margin-bottom: 15px;
			max-width: none;
			text-align: center;
		}
	}

    &.js-show {
        opacity: 1;
        z-index: 10;
    }
}