// Media 
$screen-xs-max: 479px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// Fotns
$roboto: 'Roboto', sans-serif;
$futurafuturisR: 'futurafuturiscregular', sans-serif;
$futurafuturisB: 'futurafuturiscbold', sans-serif;
$MyriadProSemibold: 'MyriadProSemibold', sans-serif;

// Colors
$mainColor: #ffffff;
$textColor01: #838383;
$textColor02: #0e5e00;
$textColor03: #fdd700;
$textColor04: #8dc63f;
$btnMainColor: #007b3e;
$btnPopupColor:  #ffffff;
$errorColor: #d10c1a;
$footerColor: #ababab;
$colorPlaceholder: #959595;

// Bg
$mainBg: #ffffff;
$btnBgMain: #fed700;
$btnBgPopup: #0e5e00;
$btnBgBreeding: #ffffff;
